  <h2><%= @pantry.name %></h2>
  <%= @pantry.nationality %>
  <ul>
  <% @pantry.items.each do |item| %>
    <li><a href="/items/<%=item.id%>"><%= item.name %></a></li>
  <% end%>
  </ul>
  <a href="/pantries/<%=@pantry.id%>/edit">Edit</a>
  <form action="/pantries/<%= @pantry.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Pantry">
  </form>
  

