  <br>
  <br>
  Pantry: <a href="/pantries/<%=@item.pantry.id%>"><%= @item.pantry.name %></a>
  <br>
  <%= @item.name %>
  <br>
  <%= @item.amount %> 
  <br>
  <br>
  <a href="/items/<%=@item.id%>/edit">Edit Item</a>
  <br>
  <form action="/items/<%= @item.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Item">
  </form>